<script>
import { inject } from 'vue';

import { UserSettingsStateSymbol } from './ProvideUserSettings';

export default {
    name: 'ButtonPrimary',
    setup() {
        const { theme } = inject(UserSettingsStateSymbol);

        return { theme };
    }
};
</script>

<template>
    <button
        :class="$style[`t-${theme}`]"
    >
        <slot/> 
    </button>
</template>

<style module>
.t-light { 
    background-color: bisque;
    color: black;
}
.t-dark { 
    background-color: black;
    color: white;
}
</style>