<script>
import { inject } from 'vue';

import { UserSettingsUpdateSymbol } from './ProvideUserSettings';

export default {
    name: 'ThemeSwitcher',
    setup() {
        const updateUserSettings = inject(UserSettingsUpdateSymbol);
        const updateTheme = value => updateUserSettings('theme', value);

        return { updateTheme }
    }
}
</script>

<template>
    <div>
        <button @click="updateTheme('dark')">Enable Darkmode</button>
        <button @click="updateTheme('light')">Enable Lightmode</button>
    </div>
</template>