<script>
import ProvideUserSettings from './components/ProvideUserSettings';
import ThemeSwitcher from '@/components/ThemeSwitcher';
import ButtonPrimary from '@/components/ButtonPrimary';

export default {
  name: 'App',
  components: {
    ProvideUserSettings,
    ButtonPrimary,
    ThemeSwitcher
  },
};
</script>
<template>
  <ProvideUserSettings>
    <div>
      <ThemeSwitcher />
      <ButtonPrimary>
        Hello World
      </ButtonPrimary>
    </div>
  </ProvideUserSettings>
</template>